/* Tall section */
.tall-section {
  height: 1000px;
  background-color: #f4f4f4;
  margin-top: 20px;
  padding: 20px;
}

/* Mobile dropdown background */
.navbar-nav {
  background-color: #e0e0e0;
}

